<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../../assets/img/logo ok OK.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/output.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <main>
       

        <!-- Start for the subscription form -->
        <section class="grid place-content-center mt-4 mb-16">
            <h2 class="font-semibold text-center text-2xl">Remplissez ce Formulaire</h2>

            
            <h2 class="font-semibold text-center text-2xl"><div style="width:400px">
                <% if(error && error.length>0){ %>
                <div class="warning-message">
                    <div class="header">
                        <%= error %>
                    </div>
                </div>
                <% } %>
                <% if(success && success.length > 0) { %>
                <div class="success-message">
                    <div class="header">
                        <%= success%>
                    </div>
                </div>
                <% } %>
            </div></h2>
            
            <form action="/admin/ajoute" method="POST">
                <div class=" w-[90vw] rounded-lg lg:w-[80vw] mt-5 grid ">
                    <div class="grid gap-4 p-4 lg:grid-cols-3">
                        <div class="flex flex-col">
                            <label for="" class="text-blue-950 text-sm">Nom du groupe</label>
                            <input type="text" name="username" placeholder="Ex: Technet ..." class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                        </div>
                        <div class="flex flex-col mt-2 lg:mt-0">
                            <label for="" class="text-blue-950 text-sm">Sujet</label>
                            <input type="text" name="nomProjet" placeholder="Ex: Votre sujet ..." class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                        </div>
                        <div class="flex flex-col mt-2 lg:mt-0">
                            <label for="" class="text-blue-950 text-sm">choisissez le theme</label>
                            <select title="selection du theme" name="theme" id="" class="border rounded-md p-1 outline-none px-2 mt-2 duration-300 focus:border focus:border-blue-950/30">
                                <option value="">Choisissez le thème</option>
                                <option value="Fintech">Fintech</option>
                                <option value="Intelligence artificielle (IA)">Intelligence artificielle (IA)</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid gap-4 lg:grid-cols-3 mt-4 lg:mt-0">
                        <div class="lg:mt-4 bg-blue-950/5 p-4 rounded-md">
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Nom 1er membre</label>
                                <input type="text" name="Etudiant1" placeholder="Ex: Sam palasa ..." class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Matricule 1er membre</label>
                                <input type="text" name="Matricule1" placeholder="Ex: 2021021273 ..." class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Mail 1er membre</label>
                                <input type="email" name="Email1" placeholder="Ex: palasasam0@gmail.com" class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">n° tel 1er membre</label>
                                <input type="text" name="Telephone1" placeholder="Ex: 097 338 7383" class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Promo</label>
                                <select title="selection du theme" name="Promotion1" id="" class="border rounded-md p-1 outline-none px-2 mt-2 duration-300 focus:border focus:border-blue-950/30">
                                    <option value="">Choisissez la promotion</option>
                                    <option value="Bac2">Bac2</option>
                                    <option value="Bac3">Bac3</option>
                                </select>
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Département</label>
                                <select title="selection du theme" name="filiere1" id="" class="border rounded-md p-1 outline-none px-2 mt-2 duration-300 focus:border focus:border-blue-950/30">
                                    <option value="">Choisissez le departement</option>
                                    <option value="SI">SI</option>
                                    <option value="IA">IA</option>
                                    <option value="GL">GL</option>
                                    <option value="IAG">IAG</option>
                                </select>
                            </div>
                        </div>
                        <div class="lg:mt-4 bg-red-950/5 p-4 rounded-md">
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Nom 2em membre</label>
                                <input type="text" name="Etudiant2" placeholder="Ex: likeur off ..." class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Matricule 2em membre</label>
                                <input type="text" name="Matricule2" placeholder="Ex: 2021021273 ..." class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Mail 2em membre</label>
                                <input type="email" name="Email2" placeholder="Ex: likeur.off@gmail.com" class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">n° tel 2em membre</label>
                                <input type="text" name="Telephone2" placeholder="Ex: 0973387383" class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Promo</label>
                                <select title="selection du theme" name="Promotion2" id="" class="border p-1 rounded-md outline-none px-2 mt-2 duration-300 focus:border focus:border-blue-950/30">
                                    <option value="">Choisissez la promotion</option>
                                    <option value="Bac2">Bac2</option>
                                    <option value="Bac3">Bac3</option>
                                </select>
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Département</label>
                                <select title="selection du theme" name="filiere2" id="" class="border rounded-md p-1 outline-none px-2 mt-2 duration-300 focus:border focus:border-blue-950/30">
                                    <option value="">Choisissez le departement</option>
                                    <option value="SI">SI</option>
                                    <option value="IA">IA</option>
                                    <option value="GL">GL</option>
                                    <option value="IAG">IAG</option>
                                </select>
                            </div>
                        </div>
                        <div class="lg:mt-4 bg-green-950/5 p-4 rounded-md">
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Nom 3em membre</label>
                                <input type="text" name="Etudiant3" placeholder="Ex: Jason Moussa ..." class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Matricule 3em membre</label>
                                <input type="text" name="Matricule3" placeholder="Ex: 2021021274 ..." class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Mail 3em membre</label>
                                <input type="email" name="Email3" placeholder="Ex: jason.moussa@gmail.com " class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">n° tel 3em membre</label>
                                <input type="text" name="Telephone3" placeholder="Ex: 097 338 7383" class="border outline-none duration-300 focus:border focus:border-blue-950/30 px-2 p-1 mt-2 rounded-md">
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Promo</label>
                                <select title="selection du theme" name="Promotion3" id="" class="border rounded-md p-1 outline-none px-2 mt-2 duration-300 focus:border focus:border-blue-950/30">
                                    <option value="">Choisissez la promotion</option>
                                    <option value="Bac2">Bac2</option>
                                    <option value="Bac3">Bac3</option>
                                </select>
                            </div>
                            <div class="flex flex-col mt-2">
                                <label for="" class="text-blue-950 text-sm">Département</label>
                                <select title="selection du theme" name="filiere3" id="" class="border rounded-md p-1 outline-none px-2 mt-2 duration-300 focus:border focus:border-blue-950/30">
                                    <option value="">Choisissez le departement</option>
                                    <option value="SI">SI</option>
                                    <option value="IA">IA</option>
                                    <option value="GL">GL</option>
                                    <option value="IAG">IAG</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="mt-4 mb-4 duration-200 text-red-600">Veuillez remplir tous les champs</p>
                    </div>
                    <div class="mt-5 p-4">
                        <div class="flex items-center">
                            <input title="checkbox condition" type="checkbox" name="sous" id="">
                            <label for="" class="ml-2 text-sm ">Nous certifions sur l'honneur que les renseignements figurant sur le Formulaire sont exactes et 
                                nous nous engageons à respecter les règles du concours.
                            </label>
                        </div>
                        <div class="flex justify-end w-full">
                            <button type="submit" class="p-2 w-full bg-blue-950 text-white rounded-md mt-8 lg:w-[40vw]" title="submit button">S'inscrire</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <!-- Condition section -->
    
    </main>

    <!-- Link for lenis -->
    <script src="https://unpkg.com/@studio-freight/lenis@1.0.29/bundled/lenis.min.js"></script> 
    <script src="../js/bundle.js"></script>

    <!-- initialisation du smooth scroll -->
    <script>
        const lenis = new Lenis()

        lenis.on('scroll', (e) => {
        console.log(e)
        })

        function raf(time) {
        lenis.raf(time)
        requestAnimationFrame(raf)
        }

        requestAnimationFrame(raf)
    </script>
</body>
</html>

























